body {
    font-family: "SF Pro", "Helvetica Neu", sans-serif;
    font-size: 0.7rem;
    line-height: 1.6;
    color: #ffffff;
    background-color: #1D1D1F;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }