@font-face {
    font-family: 'SF Pro';
    src: url("C:\Users\alsam\OneDrive\Documents\Visual code\website\fonts\SFPRODISPLAYREGULAR.OTF");
    font-weight: normal;
    font-style: normal;
  }
